
html{
	background-color: #BDBDBD;
}
	
	@font-face {
	    font-family: 'Global-Font';
	    src: url(../fonts/Lato-Regular.ttf);
	    font-weight: 600;
	}

body{
	font-family: 'Global-Font';
}
div.contenedor{
	border-top: 1px solid #f6f9fa;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 25px;
}
footer{
	margin: 10px;
	text-align: right;
}
header{
	text-align: center;
	font-size: 29px;
	font-weight: 600;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #E0E0E0; 
	padding: 15px;
}
header > span{
	font-size: 12px;
	display: block;
}
header > span[data="title"]{
	font-size: 30px;	
}
body{
	padding: 15px;
	border: 1px solid #eee;
	background-color: #FFF;
	width: 997px;
	margin: 15px auto;
	min-height: 604px;
}
div#notas{
	background-color: #eee; 
	color: #1f1f1f; 
	padding: 4px;
	font-size: 14px; 
	text-align: center;
}
ul#lista-de-codigos legend{
	font-size: 12px;
	display: inline-block;
}
ul#lista-de-codigos > li{
	margin-top: 10px;
}